
@{
    ViewBag.Title = "Indexx";
    Layout = "~/Views/Shared/_LayoutBack.cshtml";
}
<link href="~/Content/dist/css/styles.css" rel="stylesheet" />
<script src="~/Content/dist/js/scripts.js"></script>
<script src="~/Content/dist/assets/demo/datatables-demo.js"></script>
<script src="~/Content/dist/assets/demo/chart-pie-demo.js"></script>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-chart-pie mr-1"></i>
                Pie Chart Example
            </div>
            <div class="card-body"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
</div>